# git@github.com:chetwilk/urban-adventure.git

# Prerequisites
*.d

# Compiled object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# IDE and Editor specific files
.vscode/
.idea/
*.sln
*.xcodeproj/

# Build directories
build/
bin/
obj/   

# Vim swap files
*.swp
